@charset "UTF-8";


/* body
{
	width: 1000px;
	height: 1000px;
	background-color: #FFD8D8;
}

*
{
	font-family: 나눔고딕코딩;
	font-weight: bold;		
}

.btn
{
	background-color: #FAECC5;
} */



/* 수업 */
*
{
	
	font-family: 맑은 고딕;
	color: #ff80c0;
}

body, p , div, span, input, table, th, td, select
{
	font-size: 18px;
}

.control
{
	border: 1px solid gray;
	border-radius: 3px;
}
.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 3px;
	line-height: 150%;
}
.table th
{
	font-weight: bold;
	background-color: #ffcae4;
	
}
.btn
{
	font-weight: bold;
	background-color: #fefafe;
	
}
.btn:hover
{
	color: #e25a9e;
	
	background-color: #f8efd1;
}







