@charset "UTF-8";
@charset "UTF-8";


*
{
	color: #343;
	font-family: 맑은 고딕;
	font-weight: bold;
}

input
{
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

button:hover
{
	color: #fa0586;
}
.table
{
	border-collapse: collapse;
	width: 500px;
}
.table th, .table td
{
	border:1px solid gray;
	border-left: 0px;
	border-right: 0px;
	
	padding: 3px;
	line-height: 150%;
	text-align: center;	
	

}

.table th
{
	font-weight: bold;
	background-color: #EEE;
}

.btn01
{
	font-size: 10pt;
	color: blue;
	width: 45px;
	height: 30px;
}


/* 비활성화 버튼 */
.btn02
{
	font-size: 10pt;
	color: gray;
	width: 45px;
	height: 30px;
}


.btn02:hover
{
	color: gray;	
}

.errMsg
{
	font-size: small;
	color: red;
	display: none;
}

.numTh
{
	width: 50px;
}

.nameTh
{
	width: 100px;
}
.txtScore
{
	width: 100px;
	text-align: right;
}

.errMsg
{
	font-size: small;
	color: red;
	display: none;
}

.thTitle
{
	background-color: #c0ddf8;
	font-weight: bold;
}


textarea
{
	resize: none;
	border-radius: 4px;
	width: 100%;
	height: 100%;	
}





